AI_BASE_URL=http://127.0.0.1:20128/v1
AI_MODEL=annotasi-coding
AI_API_KEY=change-me

ANNOTASI_HOST=127.0.0.1
ANNOTASI_PORT=8097
CONTENT_STORAGE_DIR=./data/content
CONTENT_EXPORT_DIR=./data/exports
AI_TIMEOUT_SECONDS=90
TELEGRAM_MESSAGE_LIMIT=3900
LOG_LEVEL=INFO

CAROUSEL_DEFAULT_TEMPLATE=annotasi_hikmah_dark
CAROUSEL_WIDTH=1080
CAROUSEL_HEIGHT=1350
CAROUSEL_RENDER_TIMEOUT_SECONDS=60
